@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  height: 100%;
  min-height: -webkit-fill-available;
  transition: color 0.5s, background-color 0.5s;
  font-family: "Urbanist", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
